%section#banner
	%div.wrapper
		%header
			%p#logo Super<span>Mega</span>Awesome
			%nav
				%a{:href => "#"} Home
				%a{:href => "#"} Portfolio
				%a{:href => "#"} Services
				%a.button.button_secondary.button_small{:href => "#"} Get in touch

		%div.content
			%h1.title We create beautiful products
			%h2.sub_title
				Dreamcatcher tofu hashtag organic. Four loko DIY single-origin coffee health goth post-ironic echo park. Stumptown biodiesel freegan deep v cardigan gochujang. DIY literally beard ennui VHS. 
			%div.button_wrapper	
				%a.button.button_highlight{:href => "#"} Learn More
				%a.button.button_secondary{:href => "#"} Paly Video

%section#services.cf
	%div.wrapper
		%div.service 
			%h3 Branding
			%p Viral venmo paleo, you probably haven't heard of them DIY messenger bag fashion axe XOXO man bun craft beer butcher.
			%a.button.button_highlight.button_small{:href => "#"} Learn More

		%div.service.middle
			%h3 UI/UX Design
			%p Viral venmo paleo, you probably haven't heard of them DIY messenger bag fashion axe XOXO man bun craft beer butcher.
			%a.button.button_highlight.button_small{:href => "#"} Learn More

		%div.service 
			%h3 UI/UX Design
			%p Viral venmo paleo, you probably haven't heard of them DIY messenger bag fashion axe XOXO man bun craft beer butcher.
			%a.button.button_highlight.button_small{:href => "#"} Learn More